<div class="controls-bar">
    <button class="button-primary" id="new-post-btn"><span class="oi oi-plus"></span> New post</button>

    {{!-- Post Form body --}}
    <div class="post hide" id="new-post">
        <div class="row">
            <div class="twelve columns post-body">
                <form class="new-post-form">
                
                <label for="post-title">Title* <span></span></label>
                <h5 class="twelve columns">
                    <input id="post-title" name="post-title" type="text" value="" placeholder="Post Title">
                </h5>

                <label for="post-url">Post address* <span></span></label>
                <input id="post-url" name="post-url" type="text" value="" placeholder="Post URL">
                
                <label for="post-text">Post* <span></span></label>
                <textarea id="post-text" name="post-text" class="post-text" placeholder="Enter post text here"></textarea>
                
                <div class="validation-messages error"></div>
                <div class="row">
                    <button class="button-primary">Save</button>
                    <a class="button" href="#" id="cancel-btn">Cancel</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>