<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tech News</title>
  <meta name="description" content="A Blog for Tech News">
  <meta name="author" content="Monsieur Arnaut">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Using the cool Skeleton font -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- Skeleton CSS -->
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/skeleton.css">
  <!-- My CSS -->
  <link rel="stylesheet" href="./assets/css/style.css">
  <!-- Skeleton favicon for now -->
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">
</head>

<body>
  <!-- Top Navigation -->
  <section class="navbar">
    <div class="container">
      <div class="row">
        <div class="three columns logo">
          <a href="/"><img src="./assets/images/logo.jpg"></a>
        </div>
        <div class="nine columns menu">
          <ul>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signup">SIGNUP</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Content -->
  <main class="container">
    
  </main>
  <!-- Footer -->
  <section class="footer">
    <div class="container">
      <div class="row">
        <p>&copy; TECH NEWS CORP 2021</p>
      </div>
    </div>
  </section>
</body>

</html>