<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tech News</title>
  <meta name="description" content="A Blog for Tech News">
  <meta name="author" content="Monsieur Arnaut">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Using the cool Skeleton font -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- Skeleton CSS -->
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/skeleton.css">
  <!-- My CSS -->
  <link rel="stylesheet" href="./assets/css/style.css">
  <!-- Skeleton favicon for now -->
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">
  <!-- Iconic -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
</head>

<body>
  <!-- Top Navigation -->
  <section class="navbar">
    <div class="container">
      <div class="row">
        <div class="two columns logo">
          <a href="/"><img src="./assets/images/logo.jpg"></a>
        </div>
        <div class="eight columns menu">
          <ul>
            <li><a href="/">HOME</a></li>
            {{#if loggedIn}}<li><a href="/dashboard">DASHBOARD</a></li>{{/if}}
            <li>{{#if loggedIn}}<a href="/" id="logout">LOGOUT</a>{{else}}<a href="/login">LOGIN</a>{{/if}}</li>
            {{#unless loggedIn}}<li><a href="/signup">SIGNUP</a></li>{{/unless}}
          </ul>
        </div>
        <div class="two columns menu">
          {{#if loggedIn}}{{session.username}}{{/if}}
        </div>
      </div>
    </div>
  </section>
  <!-- Main Content -->
  <main class="container">
    {{{body}}}
  </main>
  <!-- Footer -->
  <section class="footer">
    <div class="container">
      <div class="row">
        <p>&copy; TECH NEWS CORP 2021</p>
      </div>
    </div>
  </section>

  {{#if loggedIn}}
  <script src="./assets/js/logout.js"></script>
  {{/if}}
</body>

</html>