<div class="controls-bar">
    <button class="button-primary"><span class="oi oi-plus"></span> New post</button>
</div>

{{#each posts as |post|}}
{{> post-info post}}
{{/each}}

{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{/if}}