<h5>Tech Blog Home</h5>
{{#each posts as |post|}}
<!-- Post -->
<div class="post">
    {{> post-info post}}
    <a class="button" href="/post/{{id}}" id="view-{{id}}">view</a>
</div>
{{/each}}

<script src="/assets/js/upvote.js"></script>