<div class="post">
    {{> post-info post}}
    <div class="row">
        {{#if loggedIn}}
        <button class="button-primary" id="comment-btn">comment</button>
        {{/if}}
        
        {{#if loggedIn}}
        <div class="twelve columns new-comment hide" id="new-comment-form-holder">
            <form class="comment-form">
                <textarea id="comment-body" name="comment-body" class="comment-text" placeholder="Enter your comment here"></textarea>
                <button class="button-primary" id="save-btn">save comment</button>
                <button class="button" id="cancel-btn">cancel</button>
            </form> 
        </div>
        {{/if}}
    </div>
</div>

<script src="/assets/js/comment.js"></script>
<script src="/assets/js/upvote.js"></script>