body {
    color:#545454;
    font-size: 12px;
}
/* nav bar container */
.navbar {
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    position: sticky!important;
    top:0;
    background-color:#fff;
    z-index: 9999;
}

.navbar .menu {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    min-height: 60px;
    align-items: center;
    background-color:#fff;
}

/* unordered list styles for navbar*/
.navbar .menu ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.navbar .menu ul li {
    margin: 0;
    padding: 10px 20px;
}

.navbar .menu ul li:last-child {
    border-right: none;
}

.navbar .menu ul li a {
    text-decoration: none;
    color:#545454;
}

.navbar .menu ul li:hover {
    background-color: #eee;
}

/* footer styles */
.footer {
    border-top: 1px solid #eee;
}
.footer p {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* post styles */
.post {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #eee;
}

.post .post-title {
    display: flex;
    justify-content: space-between;
}
.post .post-likes {
    text-align: right;
}

.post h5{
    margin: 0;
}

/* comment styles */
ul li.comment{
    list-style: none;
}

/* login styles */
.login, .signup {
    margin: 20px 0;
}

.newsimage{
    background: url('../images/news.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 425px;
}

/* signup styles */
.signup .username-box, .signup .names-box {
    display: flex;
    justify-content:left;
}

.signup input {
    margin-right: 10px;
}

.pointer {
    cursor: default;
}

.controls-bar {
    margin: 20px 0;
}

.validation-messages {
    margin-bottom: 10px;
}

.validation-messages p {
    margin: 0;
}

.error {
    color:firebrick;
}

.ok {
    color:green;
}